body {
    word-wrap: break-word;
}

/* =Heading Styles
-------------------------------------------------------------- */
.header-logo {
    padding: 0.5em 2em 0.25em 2em;
    text-align: center;
}



/* =Content Styles
-------------------------------------------------------------- */
.content-area {
    padding: 0 2em 0 2em;
}

.entry-header {

}

.entry-content {

}

.entry-content iframe,  
.entry-content object,  
.entry-content embed {
    max-width: 100%;
    max-height: auto;
    width: auto9; /* ie8 */
}

.entry-meta {

}

.meta-above {

}

.meta-bellow {

}