body {
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

/* =Heading Styles
-------------------------------------------------------------- */
#masthead {
    border-bottom: 1px solid $secondary-color;
}


.header-logo {
    padding: 1em 2em 1em 2em;
    text-align: center;
}


/* =Front Page Styles
-------------------------------------------------------------- */
#lede {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid $secondary-color;
}

.posts-area {
    font-size: 0.75em;
    h1 {
        font-size: 1.3em;
    }
}


.section-title{
    padding: 0.2em 1em 0.2em 1em;
    margin-bottom: 1em;
    background-color: $secondary-color;
}


#beyond {
    border: 2px solid $secondary-color;
}


/* =Byline Styles
-------------------------------------------------------------- */

.byline {
    font-size: 0.8em;
    h1 {
        font-size: 1.2em;
    }
}

.author-avatar {

}

.author-bio {

}

/* =Content Styles
-------------------------------------------------------------- */
.content-area {
    padding: 2em 0em 2em 0em;
}

.entry-title {
}

.meta-above {
}

.entry-content {
    padding-bottom: 2em;
}

.entry-meta {
    padding: 0em 0 1em 0em;
}

iframe,  
object,  
embed {
    max-width: 100%;
    max-height: auto;
    width: auto9; /* ie8 */
}