body {
    word-wrap: break-word;
}

/* =Heading Styles
-------------------------------------------------------------- */
#masthead {
    border-bottom: 1px solid $secondary-color;
}

.header-logo {
    padding: 1em 2em 1em 2em;
    text-align: center;
}

.page-header {
padding-top: 2em;
    h1 {
        line-height: 1em;
    }
}

.meta-above {
}

/* =Byline Styles
-------------------------------------------------------------- */

.byline {
    font-size: 0.8em;
    h1 {
        font-size: 1.2em;
    }
}

.author-avatar {

}

.author-bio {

}

/* =Content Styles
-------------------------------------------------------------- */
.content-area {
    padding: 2em 0 2em 0;
}


.entry-content {
    padding-bottom: 2em;
}

.entry-meta {
    padding: 0em 0 1em 0;
}

.entry-content iframe,  
.entry-content object,  
.entry-content embed {
    max-width: 100%;
    max-height: auto;
    width: auto9; /* ie8 */
}