    form#login{
        display: none;
        background-color: #FFFFFF;
        position: fixed;
        top: emCalc(50px);
        padding: emCalc(15px) emCalc(20px) emCalc(25px);
        width: 100%;
        z-index: 999;
        .close {
            float: right;
        }
        h1 {
            clear: both;
        }
        .submit_button {
            float: right;
        }
}

@media #{$small} {
    form#login{
        width: emCalc(350px);
        left: 50%;
        margin-left: -175px;
    }
}

form#login p.status{
    display: none;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}