    form#login{
        display: none;
        background-color: #FFFFFF;
        position: fixed;
        top: emCalc(50px);
        padding: emCalc(25px);
        width: emcalc(320px);
        z-index: 999;
        left: 50%;
        margin-left: -110px;
}

@media #{$small} {
    form#login{
        display: none;
        background-color: #FFFFFF;
        position: fixed;
        top: emCalc(50px);
        padding: emCalc(25px);
        width: emcalc(380px);
        z-index: 999;
        left: 50%;
        margin-left: -190px;
    }
}

form#login p.status{
    display: none;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}