// Navigation styles

.navigation-main {
    box-shadow: 0 0 10px #3f3f3f;
}

.site-footer {
    width: 100%;
    padding: 1em 2em 1em 2em;
    background: #212121;
    color: $secondary-color;
    line-height: 1.5em;
}

#nav-below {
    padding: 1em;
    border-top: 2px solid $secondary-color;
}

.previous {
    float: left;
}

.next {
    float: right;
}