// Navigation styles

.navigation-main {
    width: 100%;
    padding: 1em 2em 1em 2em;
    background: #212121;
    color: $secondary-color;
    line-height: 1.5em;
        ul, li {
            display: inline;
        }
}

.site-footer {
    @extend .navigation-main;
}